/*

body {
  background-color: #283149;
}

.text-centre {
  font-family: 'Titillium Web', sans-serif;
  color: #00818a;
  margin-left: 20px;
  text-align: center;
}

*/

// All the colors should be here

//Alla rubriker h1, h2, h3
//Font och placering + grundfärg
//Färgen kan skrivas över


//All informationstext ska ha en font och en placering + en grundfärg


//Alla segment ska ha olika bakgrundsfärger

//font-family: 'MuseoModerno', cursive;


/*
body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
*/

p {font-size: 16px;}

h1 {
    text-align: center;
    color: blue;
    font: 'MuseoModerno', cursive;
}

.margin {
  margin-bottom: 45px;
}

.MuseoModerno {
  font-family: 'MuseoModerno', cursive;
}


.bg-1 {
  background-color: #feb333; /* Light Orange */
  color: #ffffff; /*Text default color */
}
.bg-2 {
  background-color: #FF9F00; /* Dark Orange */
  color: #ffffff;
}
.bg-3 {
  background-color: #ffffff; /* White */
  color: #000000;
}
.bg-4 {
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 50px;
  padding-bottom: 50px;
}
